extends layout

block content
	nav(class='navbar navbar-inverse navbar-fixed-top')
		div(class='container')
			div(class='navbar-header')
				button(class='navbar-toggle' aria-controls='navbar' aria-expanded='false' data-target='#navbar' data-toggle='collapse' type='button')
					span(class='sr-only') Toggle Navigation
					span(class='icon-bar')
					span(class='icon-bar')
					span(class='icon-bar')
				a(class='navbar-brand' href='#') MyExpressJSApp
			div(class='navbar-collapse collapse' id='navbar')
				ul(class='nav navbar-nav')
					li(class='active')
						a(href='#') Home
					li
						a(href='#') About
					li
						a(href='#') Contact
				form(class='navbar-form navbar-right')
					div(class='form-group')
						input(class='form-control' type='text' placeholder='Email')
					div(class='form-group')
						input(class='form-control' type='password' placeholder='Password')
					button(class='btn btn-success' type='submit') Sign In
	div(class='jumbotron')
		div(class='container')
			h1 Hello, world!
			p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
			p
				a(class='btn btn-primary btn-lg' role='button' href='#') Learn more »
	div(class='container')
		div(class='row')
			div(class='col-md-4')
				h2 Heading 1
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				p
					a(class='btn btn-default' role='button' href='#') View details »
			div(class='col-md-4')
				h2 Heading 2
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				p
					a(class='btn btn-default' role='button' href='#') View details »
			div(class='col-md-4')
				h2 Heading 3
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				p
					a(class='btn btn-default' role='button' href='#') View details »
		hr
		div(class='row')
			form(class='col-md-6')
				input(class='form-control' type='text' placeholder='Your Message' id='m')
			div(class='col-md-6')
				<ul id="r">
		hr
		footer
			p © 2015 Company, Inc.
		
			